<!DOCTYPE html>
<html>
<body>
  <p>您好<%= @user.name%></p>   
  <p>重置密码，请<%= link_to "点击链接",edit_password_reset_url(@user.reset_token,account: @user.email,host: root_url)%>来激活您的帐号
  </p>
</body>
</html>