/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * "require_tree ."
 
 *= require bootstrap.min
 *= require font-awesome
 *= require simditor
 *= require simditor-fullscreen
 *= require_self
 */


body{
  background-color: #F1F1F1;
}
.error{
  color: #A94442;
}
a{
  text-decoration: none;
}
.carousel-arrow{
  position: relative;
  height: 100%;
  display: none;

}
#myCarousel:hover .carousel-arrow{
display: block;
}
.carousel-arrow .fa-left{
  display: block;
  position: absolute;
  top:50%;
  left: 20%;
}
.carousel-arrow .fa-right{
  display: block;
  position: absolute;
  top:50%;
  right: 20%;
}

.headerv1 .container{
  padding: 20px 2% 20px 2%;
  margin: 0;
  width: 100%;
}
.logo{
  display: inline-block;
  padding-left: 5px;
}

.home-nav{
  display: block;
  padding-left: 60px;
  font-size: 0;
  width: 100%;
  background-color: #404144;
}
.home-nav li{
  font-size: 16px;
  display: inline-block;
  min-width: 10%;
  color: white;
  text-align: center;
  line-height: 40px;
}
.home-nav li.active{
  background-color: black;
}
.home-nav li:hover{
  background-color: black;
}
.home-nav li a{
  text-decoration: none;
  color: white;
}
/*home banner*/
.banner{
  padding: 0 20%;
}
.carousel-inner img{
  width: 100%;
}


#modal-login {
  text-align: center;
}
#modal-login .modal-dialog{
  text-align: center;
  width: 35%;
}

#modal-login .inner-login{
  margin: 0 auto;
  width: 80%;
}
.modal-body{
  height: 350px;
}

#modal-login .verify{
  position: relative;
}
.send-sms{
  text-decoration: none;
}

.login_or_register{
  width: 50%;

  margin: 8% auto 0 auto;
  background-color: white;
}

.login_or_register .active{
  color: #ED9586;
}
.login{
  margin: 0 auto;
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
}
 .sms{
  position: relative;
}
 .send-sms{
  position: absolute;
  right: 0;
  top: 0;
  padding: 11px 0;  
  font-size: 16px;
  border: #CCCCCC 1px solid; 
  color: gray;
  border-radius: 0 6px 6px 0;
}
.login-triggle{
  padding-top: 20px;
  font-size: 20px;
  color: gray;
  text-align: center;
}
#error_explanation{
  color:red;
  
}
#error_explanation ul{
    color: red;
    margin: 0 0 30px 0;
  }
.input-group-addon{
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
  padding: 0 15px;
}
.input-group-captcha{
  background: #fff;
}
.input-group-captcha img {
    border-radius: 3px 0 0 3px;
}
.rucaptcha-image {
    width: 120px;
}
/*.field_with_errors{
  @extend .has_error;
  .form-control {
    color: red;
  }
}*/



/*.imageBox{
    width: 600px;
}*/


