// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**{
border: solid 1px red;
}*/
body{
  background-color: #F7F8FA;
}

/*用户头像资料编辑*/
.user-detail{
  position: relative;
  border: solid 1px lightgray;
}
.user-cover{
  background-color: #96A1A9;
}
.profile-avatar{
  position: relative;
}
.user-avatar-editor{
  position: absolute;
  width: 200px;
  top: -20px;
  left: 20px;
  background-color: #fff;
  border: solid 5px white; 
  border-radius: 3px; 
  &:hover .mask{
    display: block;
    cursor: pointer;
  }
}
.avatar img{
  display: block;
  width: 100%;
}
.mask{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  width: 190px;
  height: 190px;
  text-align: center;
  display: none;
}

.mask-content{
  position: absolute;
  top: 40%;
  left: 30%;
  color: white;
}
.mask-inner-text{
  padding-top: 10px;
}
.user-profile{
  padding-left: 260px;
  font-size: 30px;
  height: 200px;
}
.profile-edit{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  a{
    display: block;
    text-decoration: none;
    border: solid 1px #0F88EB;
    border-radius: 3px;
    padding: 5px 10px;
    &:hover{
      background: rgba(193,229,255,0.4);
    }
  }
}
.user-cover{
  height: 132px;
}
/*头像上传模态框*/
#album_modal .modal-dialog
{
  width: 80%;
  min-width: 645px;
  max-width: 800px;
}



/*头像裁剪框*/
.imageBox
{
    position: relative;
    width: 400px;
    height: 260px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
    border: 1px solid #96A1A9;
    border-radius: 4px;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.cropped{
  border: 1px solid #96A1A9;
  border-radius: 4px;
}
.cropped > img
  {
    margin-right: 10px;
  }
/*#album_modal .modal-body{
height: 440px;
}
#album_modal{
  height: 600px;
}*/